.Rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.RoomsList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.RoomForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: fit-content;
    padding: 20px;
    gap: 15px;
}

.RoomForm input, .RoomForm select {
    padding: 5px;
}

.RoomForm img {
    width: 100%;
    border-radius: 15px;
}

.RoomForm textarea {
    max-width: 100%;
    max-height: 200px;
}

.Room {
    display: flex;
    width: 40%;
    border: 0;
    border-bottom: 1px solid #ececec;
    padding: 15px;
    font-size: 1.2em;
}

.Room-icons svg {
    margin: 0 10px;
}

.Room > * {
    flex: 1;
}

.Room img {
    width: 100%;
    border-radius: 15px;
}

.bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 70%;
}

th, td {
    padding: 20px;
    letter-spacing: 2px;
}

tr {
    border: 1pt solid black;
}

.display_none {
    display: none;
}
