.Rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RoomForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: fit-content;
    padding: 20px;
}

.RoomForm input, .RoomForm select {
    padding: 5px;
    margin: 5px;
}

.RoomForm img {
    width: 100%;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 70%;
}

th, td {
    padding: 20px;
    letter-spacing: 2px;
}

tr {
    border: 1pt solid black;
}

.image-td {
    width: 40%
}

tr img {
    width: 100%
}

.display_none {
    display: none;
}
